/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/* Global Css */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
/* colors */
:root {
  --bg-color: #2d25a0;
  --black: #000;
  --white: #fff;
  --pink: #e02c6d;
  --gray: #6c6c6c;
}
.container {
  padding: 0px 8%;
}
/* Banner Section */
section#banner_area {
  background: var(--bg-color);
  color: var(--white);
  padding-top: 5%;
  height: 100vh;
}
.banner-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-left h2 {
  font-size: 64px;
  line-height: 80px;
  font-weight: 700;
}

@keyframes btn_animation {
  0% {
    box-shadow: inset -7em 0 0 0 var(--gray), inset 7em 0 0 0 var(--gray);
    transform: translateY(0em);
  }
}
a.button {
  background: var(--pink);
  text-decoration: none;
  color: var(--white);
  padding: 10px 24px;
  font-weight: 400;
  margin-top: 27px;
  display: inline-block;
  transition: all ease 2s;
}
a.button:hover {
  -webkit-animation: btn_animation 2s;
  -moz-animation: btn_animation 2s;
  -o-animation: btn_animation 2s;
  animation: btn_animation 2s;
}
.banner-right img {
  width: 556px;
}
/* player list */
#players_list_area {
  padding: 5% 0;
}
.player_list_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
}
.player-info {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-info img {
  width: 330px;
}
.player-info h2 {
  font-size: 28px;
  line-height: 40px;
  font-weight: 700;
  margin: 16px 0;
}
.player-info p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--gray);
}
